{% extends "base.html" %}

{% block head %}
    <script src="static/js/lib/cookies.min.js"></script>
    <script src="static/js/lib/jquery-2.1.0.min.js"></script>
    <script src="static/js/lib/swfobject.js"></script>
    <script src="static/js/lib/socket.io.min.js"></script>
    <script src="static/js/youtube-demo.js"></script>

    <link rel="stylesheet" type="text/css" href="static/style/style.css">
{% endblock %}


{% block content %}
<div class="overlay">
    Your remote control URL: http://{{ request.get_host }}/<span id='unique-id-link'>{{ unique_id }}</span>
</div>
<div id="ytapiplayer"></div>
{% endblock %}